body{
    text-align: center;
}
#apps{
    background-color: bisque;
    font-family: serif;
}
#games{
    background-color: blanchedalmond;
    font-family: fantasy;
}
#chatbot{
    background-color: cornsilk;
    font-family: sans-serif;
}

.line{
    height:6px;
    width:100px;
    background-color: aqua;
    margin:auto;
}
#c1{
    background-color: blue;
    
}
#c1 img{
    margin-top: 10px;
}
#c1 p{
    color: white;
}